doctype html
html(lang="en")
  head
    title= pageTitle
  body
    h1= pageH1
    table
        tr
            th Identifiant
            th Ville
    - for (var x = 0; x < list.length; x++)
        tr
            td=list[x]["user"]
            td=list[x]["city"]