doctype html
html(lang="en")
  head
    title= pageTitle
  body
    h1= pageH1
    table
        tr 
            th Identifiant
            th Ville 
            each person in list
                tr 
                each user,city in person
                    td=val
