doctype html
html(lang="en")
  head
    title= PageTitle
  body
    h1= PageH1
    table
        tr
            th Identifiant
            th Ville
        each personne in list
            tr
            each attr in personne
                td= attr
    div
      label Ajout d'une nouvelle ville
      form(action="/city", method="post")
        label(for="name") Nom de la ville
        input(type="text" name="name")
        button(type="submit") Envoyer
                