doctype html
html(lang="en")
  head
    title= pageTitle
  body
    h1= pageH1
    table
        tr
            th Identifiant
            th Ville
        each personne in list
            tr
            each attr in personne
                td= attr
        tr
          form(action="/city", method="post")
            label(for="name") Nom de la ville
            input(type="text" name="name")
            button(type="submit") Envoyer

